@font-face {
    font-family: "Blanch";
    src: url('../fonts/blanch.otf');
}

@font-face {
    font-family: "Awesome-Solid";
    src: url('../fonts/fa-solid-900.ttf');
}

@font-face {
    font-family: "Akrobat";
    src: url('../fonts/AkrobatRegular.ttf');
}

$dark_blue: #1B1D2A;
$dark_blue_light: #1f1f2f;
$white: #E9E9E9;
$accent_color: #F2784B;

body {
    background: $white;
}

.main {
    min-height: calc(100vh - 150px - 70px);
}

.default-button {
    padding: 5px 30px 5px 30px;
    font-family: 'Amsterdam';
    font-size: 24px;
    color: $white;
    background: $dark_blue;
    border: none;
    border-radius: 15px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);

    transition: all .1s linear;

    &:hover {
        color: $dark_blue;
        background: $white;
    }
    
    &:active {
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
}

.field, .default-field {
    margin-top: 10px;
    width: 40%;
    height: 64px;
    background: none;
    border: none;
    border-bottom: 1px solid #707070;
    color: $dark_blue;
    font-family: 'Amsterdam';
    font-size: 32px;
    text-align: center;

    &::placeholder {
        color: #707070;
        transition: opacity .3s ease-in;
    }

    &:focus::placeholder {
        opacity: 0;
    }

    &:focus {
        border-color: $dark_blue;
    }

    @media screen and (max-width: 800px) {
        width: 60%;
        height: 42px;
        font-size: 24px;
    }
}

::-webkit-scrollbar {
    width: .6em;
    height: .5em;
}
::-webkit-scrollbar-track {
    background: $dark_blue;
}
::-webkit-scrollbar-thumb {
    background: $white;
}
body {
    scrollbar-face-color: $white;
    scrollbar-track-color: $dark_blue;
}