@import "color.scss";
@import "Templates/author.scss";
@import "Templates/postBlock.scss";

.main {
    width: 70%;
    margin: auto;
    padding-top: 30px;
    box-sizing: border-box;

    .posts-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media screen and (max-width: 1200px) {
                align-items: center;
                flex-direction: column;
        }
    }

    .empty-news {
        margin: auto;
        margin-top: 100px;
        width: 10%;
        height: 100px;

        font-family: 'Blanch';
        font-size: 32px;
        color: $dark_blue;
    }
}