@import "color.scss";

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    width: 70%;
    padding-bottom: 200px;
    box-sizing: border-box;

    .title-label, .text-label {
        font-family: 'Blanch';
        font-size: 48px;
        line-height: 54px;
        color: $dark_blue_light;
    }

    .text-label { font-size: 42px; }

    .default-field {
        margin-top: 10px;
    }

    .title-field {
        margin-bottom: 40px;
    }

    .text-field {
        margin-top: 10px;
        width: 90%;
        min-height: 300px;
        padding: 10px;
        resize: height;
        background: $white;
        border: none;
        border-radius: 15px;
        box-shadow: 
            -4px -4px 8px rgba(55, 55, 55, .2),
            4px 4px 8px rgba(55, 55, 55, .2),
            4px -4px 8px rgba(55, 55, 55, .2),
            -4px 4px 8px rgba(55, 55, 55, .2);
        
        transition: all .2s linear;

        font-family: 'Akrobat';
        font-size: 22px;
        line-height: 28px;
        color: $dark_blue;

        &::placeholder {
            transition: opacity .3s ease-in;
        }

        &:focus::placeholder {
            opacity: 0;
        }

        &:focus {
            box-shadow: 
                -8px -8px 12px rgba(55, 55, 55, .2),
                8px 8px 12px rgba(55, 55, 55, .2),
                8px -8px 12px rgba(55, 55, 55, .2),
                -8px 8px 12px rgba(55, 55, 55, .2);
        }
    }

    .tag-field {
        margin-top: 10px;
        margin-left: 5%;
        height: 30px;
        align-self: flex-start;
        font-size: 24px;
        text-align: left;
    }

    .tag-message {
        margin-left: 5%;
        align-self: flex-start;
        font-family: 'Akrobat';
        font-size: 16px;
        line-height: 32px;
        color: $dark_blue;
        opacity: .8;
    }

    .add-image {
        margin-right: 5%;
        align-self: flex-end;
    }

    .file-input {
        visibility: hidden;
    }

    .message-publish {
        margin-top: 30px;
        margin-bottom: 20px;

        font-family: 'Blanch';
        font-size: 32px;
        line-height: 36px;
        color: $dark_blue;
    }

    .publish-button {
        height: 90px;
    }

    .delete-button {
        margin-top: 20px;
        background: #933535;

        &:hover {
            background: #c33535;
            color: $white;
        }
    }
}