@charset "UTF-8";
@font-face {
  font-family: "Blanch";
  src: url("../fonts/blanch.otf");
}
@font-face {
  font-family: "Awesome-Solid";
  src: url("../fonts/fa-solid-900.ttf");
}
@font-face {
  font-family: "Akrobat";
  src: url("../fonts/AkrobatRegular.ttf");
}
body {
  background: #E9E9E9;
}

.main {
  min-height: calc(100vh - 150px - 70px);
}

.default-button {
  padding: 5px 30px 5px 30px;
  font-family: "Amsterdam";
  font-size: 24px;
  color: #E9E9E9;
  background: #1B1D2A;
  border: none;
  border-radius: 15px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
  transition: all 0.1s linear;
}
.default-button:hover {
  color: #1B1D2A;
  background: #E9E9E9;
  cursor: pointer;
}
.default-button:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.default-button:focus {
  background: #E9E9E9;
  color: #1B1D2A;
}

.field, .default-field {
  margin-top: 10px;
  width: 40%;
  height: 64px;
  background: none;
  border: none;
  border-bottom: 1px solid #707070;
  color: #1B1D2A;
  font-family: "Amsterdam";
  font-size: 32px;
  text-align: center;
}
.field::placeholder, .default-field::placeholder {
  color: #707070;
  transition: opacity 0.3s ease-in;
}
.field:focus::placeholder, .default-field:focus::placeholder {
  opacity: 0;
}
.field:focus, .default-field:focus {
  border-color: #1B1D2A;
}
@media screen and (max-width: 800px) {
  .field, .default-field {
    width: 60%;
    height: 42px;
    font-size: 24px;
  }
}

.write-icon::before {
  content: "";
  margin-right: 10px;
  font-family: "Awesome-Solid";
  font-size: 18px;
}

.desc-icon::before {
  content: "";
  margin-right: 10px;
  font-family: "Awesome-Solid";
  font-size: 20px;
}

.image-icon::before {
  content: "";
  margin-right: 10px;
  font-family: "Awesome-Solid";
  font-size: 20px;
}

.sub-icon::before {
  content: "";
  margin-right: 10px;
  font-family: "Awesome-Solid";
  font-size: 20px;
}

.unsub-icon::before {
  content: "";
  margin-right: 10px;
  font-family: "Awesome-Solid";
  font-size: 20px;
}

.plus-icon::before {
  content: "";
  margin-right: 10px;
  font-family: "Awesome-Solid";
  font-size: 20px;
}

.search-icon::before {
  content: "";
  margin-right: 10px;
  font-family: "Awesome-solid";
  font-size: 20px;
}

::-webkit-scrollbar {
  width: 0.6em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background: #E9E9E9;
}

::-webkit-scrollbar-thumb {
  background: #1B1D2A;
}

body {
  scrollbar-track-color: #E9E9E9;
  scrollbar-face-color: #1B1D2A;
}
