.post {
  position: relative;
  width: 45%;
  margin-bottom: 50px;
  transition: all 0.5s linear;
}
@media screen and (max-width: 1200px) {
  .post {
    width: 90%;
    border-radius: 30px;
  }
}
.post:hover .image-post {
  box-shadow: -8px 8px 14px rgba(0, 0, 0, 0.5), 5px -5px 14px rgba(0, 0, 0, 0.5);
}
.post .image-post {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 320px;
  border-radius: 15px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s linear;
  background: #1f1f2f;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .post .image-post {
    width: 100%;
  }
}
.post .image-post img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.5s linear;
}
.post .image-post .default-image {
  width: 30%;
  height: 100%;
  object-fit: fill;
  filter: invert(1) blur(0.5px);
}
@media screen and (max-width: 1200px) {
  .post .image-post .default-image {
    transform: rotateZ(360deg);
  }
}
.post .post-info {
  margin-top: 10px;
  padding-left: 10px;
  box-sizing: border-box;
}
.post .post-info .title-post {
  width: fit-content;
}
.post .post-info .title-post a {
  font-family: "Blanch";
  font-size: 46px;
  line-height: 42px;
  color: #1B1D2A;
  text-decoration: none;
}
.post .post-info .text-post {
  width: 100%;
  overflow: hidden;
  font-family: "Akrobat";
  font-size: 26px;
  line-height: 32px;
  color: #1B1D2A;
}
@media screen and (max-width: 800px) {
  .post .post-info .text-post {
    width: 100%;
  }
}
.post .post-info .count-comments {
  margin-top: 10px;
  width: fit-content;
  font-family: "Akrobat";
  font-size: 20px;
  line-height: 25px;
  border-bottom: 1px solid #1B1D2A;
  color: #1B1D2A;
  opacity: 0.72;
}

.author-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 215px;
  right: 10px;
  width: 150px;
  height: 96px;
  box-sizing: border-box;
  padding-top: 5px;
  z-index: 1;
}
.author-block::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.8;
  background: #E9E9E9;
  border-radius: 15px;
}
.author-block .avatar {
  margin-top: 5px;
  width: 46px;
  height: 46px;
}
.author-block .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}
.author-block .date-publish {
  width: 54px;
  font-family: "Akrobat";
  font-size: 24px;
  line-height: 29px;
  color: #1B1D2A;
  text-align: center;
}
.author-block .nickname {
  width: 100%;
  text-align: center;
}
.author-block .nickname a {
  font-family: "Blanch";
  font-size: 24px;
  line-height: 20px;
  color: #1B1D2A;
  text-decoration: none;
}

.main {
  margin: auto;
  padding-top: 30px;
  box-sizing: border-box;
  width: 70%;
}
.main .search-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 70%;
}
.main .search-block .default-field {
  width: 85%;
}
.main .search-block .default-button {
  margin-top: 10px;
  width: 200px;
  border-radius: 30px;
}
.main .load-screen {
  margin-top: 30vh;
}
.main .empty-text {
  margin: auto;
  margin-top: 50px;
  font-family: "Blanch";
  font-size: 32px;
  color: #1B1D2A;
  text-align: center;
}
.main .posts-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
}
@media screen and (max-width: 1200px) {
  .main .posts-block {
    flex-direction: column;
    align-items: center;
  }
}
