.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  width: 70%;
  padding-bottom: 200px;
  box-sizing: border-box;
}
.main .title-label, .main .text-label {
  font-family: "Blanch";
  font-size: 48px;
  line-height: 54px;
  color: #1f1f2f;
}
.main .text-label {
  font-size: 42px;
}
.main .default-field {
  margin-top: 10px;
}
.main .title-field {
  margin-bottom: 40px;
}
.main .text-field {
  margin-top: 10px;
  width: 90%;
  min-height: 300px;
  padding: 10px;
  resize: height;
  background: #E9E9E9;
  border: none;
  border-radius: 15px;
  box-shadow: -4px -4px 8px rgba(55, 55, 55, 0.2), 4px 4px 8px rgba(55, 55, 55, 0.2), 4px -4px 8px rgba(55, 55, 55, 0.2), -4px 4px 8px rgba(55, 55, 55, 0.2);
  transition: all 0.2s linear;
  font-family: "Akrobat";
  font-size: 22px;
  line-height: 28px;
  color: #1B1D2A;
}
.main .text-field::placeholder {
  transition: opacity 0.3s ease-in;
}
.main .text-field:focus::placeholder {
  opacity: 0;
}
.main .text-field:focus {
  box-shadow: -8px -8px 12px rgba(55, 55, 55, 0.2), 8px 8px 12px rgba(55, 55, 55, 0.2), 8px -8px 12px rgba(55, 55, 55, 0.2), -8px 8px 12px rgba(55, 55, 55, 0.2);
}
.main .tag-field {
  margin-top: 10px;
  margin-left: 5%;
  height: 30px;
  align-self: flex-start;
  font-size: 24px;
  text-align: left;
}
.main .tag-message {
  margin-left: 5%;
  align-self: flex-start;
  font-family: "Akrobat";
  font-size: 16px;
  line-height: 32px;
  color: #1B1D2A;
  opacity: 0.8;
}
.main .add-image {
  margin-right: 5%;
  align-self: flex-end;
}
.main .file-input {
  visibility: hidden;
}
.main .message-publish {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: "Blanch";
  font-size: 32px;
  line-height: 36px;
  color: #1B1D2A;
}
.main .publish-button {
  height: 90px;
}
.main .delete-button {
  margin-top: 20px;
  background: #933535;
}
.main .delete-button:hover {
  background: #c33535;
  color: #E9E9E9;
}
